.cor-1 {
  color: #ffffff;
}

.cor-2 {
  color: #f5f5f5;
}

.cor-3 {
  color: #e0e0e0;
}

.cor-4 {
  color: #cccccc;
}

.cor-5 {
  color: #b8b8b8;
}

.cor-6 {
  color: #a3a3a3;
}

.cor-7 {
  color: #8f8f8f;
}

.cor-8 {
  color: #7a7a7a;
}

.cor-9 {
  color: #666666;
}

.cor-10 {
  color: #525252;
}

.cor-11 {
  color: #3d3d3d;
}

.cor-12 {
  color: #292929;
}

.cor-14 {
  color: #141414;
}

.cor-15 {
  color: #000000;
}

.cor-p1 {
  color: #ad957a;
}

.cor-p2 {
  color: #99836c;
}

.logo {
  font-size: 2rem;
  color: #ffffff;
  font-family: "Libre Baskerville";
  text-transform: uppercase;
  width: max-content;
}

.botao {
  display: inline-block;
  padding: 5px 10px;
  background-color: #99836c;
  color: #000000;
  font-family: "Poppins", sans-serif;
  transition: 0.4s;
}
.botao:hover {
  background-color: #ad957a;
}

.botao.inline {
  border: 1px solid #ffffff;
  background: none;
  padding: 5px 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  transition: 0.4s;
}
.botao.inline:hover {
  background-color: #ffffff;
  color: #000000;
}

.botao.inline-p {
  border: 1px solid #ad957a;
  background: none;
  color: #ffffff;
}

.font-1-x {
  font: 400 1.125rem/1.5 "Poppins", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.fadeInUp {
  transform: translate3d(0, 20px, 0);
}

.fadeInRight {
  transform: translate3d(20px, 0, 0);
}

.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

/* 7 Adicione o CSS Essencial abaixo */
[data-anime] {
  opacity: 0;
}

.anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.second-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font: bold 3rem/1 "Libre Baskerville", sans-serif;
  margin-bottom: 60px;
}
.second-title::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 6px;
  background-color: #ad957a;
}
@media (max-width: 600px) {
  .second-title {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .second-title::before {
    display: none;
  }
}

.subheader-bg {
  background-color: #141414;
  padding: 20px 0;
}
.subheader-bg .subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: regular;
}
@media (max-width: 400px) {
  .subheader-bg .subheader {
    gap: 10px;
  }
}

.header-bg {
  background-color: #000000;
  padding: 40px 0;
  transition: 0.4s;
}
.header-bg .header {
  display: flex;
  flex-direction: "";
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-bg .header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  font-size: 1.125rem;
  font-family: "Poppins";
  gap: 20px;
}
.header-bg .header ul a:hover {
  color: #99836c;
}
.header-bg .header ul::before {
  content: "";
  display: block;
  width: 2px;
  height: 40px;
  background-color: #ffffff;
}
.header-bg .header > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  gap: 15px;
}
@media (max-width: 800px) {
  .header-bg .header ul::before {
    display: none;
  }
  .header-bg .header .header-divider {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-bg .header {
    text-align: left;
  }
  .header-bg .header > div {
    flex-direction: column;
    align-items: normal;
  }
}
@media (max-width: 400px) {
  .header-bg .header .logo {
    text-align: left;
  }
  .header-bg .header ul {
    font-size: 1rem;
    flex-wrap: wrap;
  }
}

.introducao-bg {
  background-color: #000000;
  padding: 60px 0;
}
.introducao-bg .introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.introducao-bg .introducao .introducao-conteudo h1 {
  font: bold 4rem/1 "Libre Baskerville", serif;
  margin-bottom: 20px;
}
.introducao-bg .introducao .introducao-conteudo p {
  margin-bottom: 40px;
}
.introducao-bg .introducao .introducao-conteudo .introducao-btns {
  display: flex;
  gap: 15px;
  margin-bottom: 60px;
}
.introducao-bg .introducao .introducao-conteudo .introducao-btns a {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
}
.introducao-bg .introducao .introducao-conteudo .introducao-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
  gap: 90px;
}
.introducao-bg .introducao .introducao-conteudo .introducao-info li div:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
.introducao-bg .introducao .introducao-conteudo .introducao-info div {
  font-family: "Poppins", sans-serif;
  color: #b8b8b8;
}
.introducao-bg .introducao .introducao-image img {
  object-fit: cover;
  height: 100%;
}
@media (max-width: 800px) {
  .introducao-bg .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-bg .introducao .introducao-conteudo h1 {
    font-size: 3rem;
  }
  .introducao-bg .introducao .introducao-conteudo p {
    font-size: 1rem;
  }
  .introducao-bg .introducao .introducao-image {
    display: none;
  }
}
@media (max-width: 600px) {
  .introducao-bg .introducao .introducao-conteudo h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .introducao-bg .introducao .introducao-conteudo .introducao-btns {
    flex-direction: column;
  }
  .introducao-bg .introducao .introducao-conteudo .introducao-btns a {
    font-size: 1.125rem;
  }
  .introducao-bg .introducao .introducao-conteudo .introducao-info {
    flex-wrap: wrap;
    gap: 40px;
  }
  .introducao-bg .introducao .introducao-conteudo .introducao-info li {
    flex: 1;
  }
  .introducao-bg .introducao .introducao-conteudo .introducao-info li div:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
  }
}
@media (max-width: 400px) {
  .introducao-bg .introducao .introducao-conteudo .introducao-info {
    gap: 20px;
  }
}

.servicos {
  padding-top: 60px;
  padding-bottom: 60px;
}
.servicos .servicos-image {
  display: flex;
  flex-direction: "";
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;
}
.servicos .servicos-image div {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.servicos .servicos-image span {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  bottom: 0;
  background-color: #666666;
}
.servicos .servicos-image img {
  filter: grayscale(100%);
  transition: all 0.4s ease;
  object-fit: coverr;
}
.servicos .servicos-image img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}
@media (max-width: 800px) {
  .servicos .servicos-image {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .servicos .servicos-image div {
    width: 300px;
  }
}
.servicos h3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font: 400 2rem/1.2 "Libre Baskerville", serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}
.servicos h3::before, .servicos h3::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #e0e0e0;
}
.servicos .servicos-precificacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.servicos .servicos-precificacao div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.servicos .servicos-precificacao h4 {
  font: 400 1.125rem/1.3 "Libre Baskerville", serif;
}
@media (max-width: 600px) {
  .servicos .servicos-precificacao h4 {
    font-size: 1rem;
  }
}
.servicos .servicos-precificacao span {
  font: 600 1.125rem/1 "Libre Baskerville", serif;
}
@media (max-width: 600px) {
  .servicos .servicos-precificacao span {
    font-size: 0.875rem;
  }
}
.servicos .servicos-precificacao p {
  font: 400 0.875rem/1.5 "Poppins", sans-serif;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px dotted #3d3d3d;
}

.barbeiros {
  margin-bottom: 120px;
}
.barbeiros .barbeiros-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 60px;
}
.barbeiros .barbeiros-group::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100px;
  width: calc(100vw - 20px);
  background-color: #ad957a;
  z-index: -1;
}
.barbeiros .barbeiros-group .barbeiros-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  gap: 10px;
  color: #fff;
}
.barbeiros .barbeiros-group .barbeiros-item span {
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  width: max-content;
  font-size: 18px;
}
.barbeiros .barbeiros-group .barbeiros-item .barbeiros-exp {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 900px) {
  .barbeiros .barbeiros-group::before {
    display: none;
  }
}

.produtos {
  margin-bottom: 120px;
}
.produtos .produtos-group {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 40px;
}
.produtos .produtos-group .produtos-item {
  position: relative;
}
.produtos .produtos-group .produtos-item div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
}
.produtos .produtos-group .produtos-item .produtos-info {
  bottom: 30px;
}
@media (max-width: 800px) {
  .produtos .produtos-group .produtos-item .produtos-info {
    bottom: 0;
  }
}
.produtos .produtos-group .col-1 {
  grid-row: 1/3;
}
@media (max-width: 800px) {
  .produtos .produtos-group {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
