@use "../utils/variables";
@use "../utils/mixin";

.introducao-bg {
  background-color: variables.$c15;
  padding: 120px 0;
  color: #ddd;

  .introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    .introducao-conteudo {
      h1 {
        @include mixin.font-xl;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 40px;
      }

      .introducao-btns {
        display: flex;
        gap: 15px;
        margin-bottom: 60px;

        a {
          flex: 1;
          text-align: center;
          font-size: 1.5rem;
        }
      }

      .introducao-info {
        @include mixin.flex-center(space-between);
        gap: 90px;

        li div:nth-child(1) {
          font-size: 2rem;
          font-weight: bold;
        }

        div {
          font-family: "Poppins", sans-serif;
        }
      }
    }
  }
}
