@use "variables";

@mixin container {
  max-width: variables.$container-width;
  padding: 0 20px;
  margin: 0 auto;
}

// Classa do container do site
.container {
  @include container();
}

@mixin flex-center($justify: center, $direction: row, $wrap: no-wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
  flex-wrap: $wrap;
}

@mixin font-xl {
  font: bold 4rem / 1 "Libre Baskerville", serif;
}

@mixin responsive($breakpoint) {
  @if map-has-key(variables.$breakpoints, $breakpoint) {
    @media #{inspect(map-get(variables.$breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin title {
  display: flex;
  align-items: center;
  gap: 5px;
  font: bold 3rem/1 "Libre Baskerville", sans-serif;
  margin-bottom: 60px;

  &::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 6px;
    background-color: variables.$p1;
  }

  @include responsive("sm") {
    font-size: 2rem;
    margin-bottom: 40px;
    &::before {
      display: none;
    }
  }
}

.second-title {
  @include title();
}

.second-title.contat {
  text-transform: uppercase;
  justify-content: center;
  &::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 6px;
    background-color: variables.$p1;
  }

  @include responsive("sm") {
    font-size: 2rem;
    margin-bottom: 40px;
    &::after {
      display: none;
    }
  }
}
